body {
  background: linear-gradient(100deg, #001214, #001f29);
  font-family: 'Times New Roman', Times, serif;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  color: black;
  overflow: hidden;
  transition: 0.3s linear;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 100%;
}

section h1 {
  color: #fff;
  font-size: 3.5rem;
  margin: 1rem 0 0;
  text-align: center;
}

.date-time {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 15px 0;
  padding: 0.8rem;
  width: 100%;
}

.todo-input {
  padding: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  background-color: #3d3d3d;
  color: #f2f3f4;
  max-width: 500px;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 200ms ease-in-out;
}

.todo-input::placeholder {
  color: white;
  opacity: 0.7;
}

.todo-input:hover {
  width: 93%;
  background-color: #000000;
  transform: scale(1.01);
  box-shadow: 0 3px 10px #485761;
  cursor: text;
}

.todo-btn {
  padding: 10px;
  font-size: 1.6rem;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #5dade2;
  color: white;
  max-width: 500px;
  height: 53px;
  transition: all 0.2s ease-in-out;
}

.todo-btn:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 10px #404b42;
}

.myUnOrdList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.todo-list {
  list-style: none;
  min-width: 100%;
  margin-top: 0;
}

.todo-item {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.3fr;
  gap: 1.6rem;
  text-align: left;
  align-items: center;
  background-color: #e8e7e5e6;
  color: black;
  padding: 0.2rem;
  margin: 1.2rem;
  border-radius: 10px;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  min-width: 20rem;
  max-width: 25rem;
  overflow-wrap: anywhere;
}

.todo-item span {
  max-width: 20rem;
}

.check-btn,
.delete-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20%;
  background-color: #ffffff;
  transition: 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.check-btn svg,
.delete-btn svg {
  width: 1.6rem;
  height: 1.6rem;
}

.check-btn {
  color: #2ecc71;
}

.check-btn:hover {
  background-color: #f2f3f4;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 6px 6px #2ecc71;
}

.delete-btn {
  color: #e74c3c;
}

.delete-btn:hover {
  background-color: #f2f3f4;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 6px 6px #e74c3c;
}

.clear-btn {
  margin-top: 0;
  background-color: #df5748;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  color: white;
  transition: all 0.2s ease-in-out;
  border: none;
}

.clear-btn:hover {
  background-color: #ff1900;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255, 25, 0, 0.3);
}
